

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}

body {
    width: auto;
    margin: 0 auto;
    background-color: #000;
    color:white;

}

:root {
    --main-yellow:#c6990c;
}

/*----- HAMBURGER NAV MENU STYLES-----*/
.header {
    background-color:  rgb(19, 22, 26, 70%);
    width:100%;
    margin:0 auto;
    top: 0;
}

.header-content {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 40px;
}


.nav {
    transition: all 0.1s ease-in-out;
}

.nav-list {
    display: flex;
    column-gap: 40px;
}

.nav-item {
    font-size: 20px;
    text-transform: uppercase;
}

.nav-link:hover, .nav-link:focus {
    color:var(--main-yellow);
    padding-bottom: 5px;
    font-weight: bold;
}

.hamburger {
     display: none;
     cursor:pointer;
}


.bar {
    height: 2px;
    width: 40px;
    justify-content: space-between;
    background:white;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.nav--open {
    transform: translate(0) !important;
}


.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}


.hamburger--open .bar:nth-child(2){
    opacity: 0;
}


.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}




/* ----- SKIP LINK STYLES -----*/
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}



/*-----  HIDDEN STYLES -----*/
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


.main-info {
    visibility: hidden;
}
/*----- TEXT AND FONT STYLES -----*/

h2 {
    color: var(--main-yellow);
    text-align: center;
}




/*----- HEADER AND NAVIGATION STYLES -----*/
.logo img {
    width: 50px;
    height:50px;
    margin: 15px 10px 10px;
}


/*----- MAIN STYLES -----*/
#main-image {
    top: 80px;
    width:100%;
    position:relative;
}

#main-info {
    top: -40px;
    width: 350px;
    position: relative;
}

#main-text {
    background-color: rgb(19, 22, 26, 70%);
    padding: 5px 10px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 15px;
}

#main-text p {
    margin-left: 9px;
}

#main-text h2 {
    color: var(--main-yellow);
}
button {
    margin-left:20px;
    background-color:var(--main-yellow);
}
    

/*----- FOOTER STYLES -----*/

footer {
    text-align: center;
}


/* CONTACT-US.HTML----*/
#contact-grid {
    text-align: center;
    row-gap: 30px;
}

label{
    align-items: left;
}

fieldset {
    min-width: 500px;
}

textarea {
    width: 300px;
    height: 100px;
}
#contact-form {
    
    min-width: 500px;
    align-items: center;
    
}

h3 {
    color: var(--main-yellow);
}
/*----- MEDIA QUERIES-----*/

@media screen and (max-width:650px) {
    .header {
        height: 
    }
    .nav {
        top: 0;
        left: 0;
        width:100%;
        position:fixed;
        background-color:  rgb(19, 22, 26);
        padding: 250px 0 500px;
        transform: translateX(110%);
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav-link {
        font-size: 14px;
    }

    .hamburger {
        display: block;
    }
} 


/* CONTACT-US.HTML----*/
#contact-grid {
    display: grid;
    
}

#contact-form {
    display: grid;
  
}


