

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}

.about-page, .our-team-page, .contact-page {
    text-align: center;
    align-items: center;
}

.about-page main, .our-team-page main, .contact-page main{
    min-width: 550px;
    justify-content: center;
}


.home-page {
    margin: 0;
    padding: 0;
    background-image: url(images/northwest_st.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}



:root {
    --main-yellow:#c6990c;
    --accent: #ffffff;
    --dark-gray: #1c1c1c;
}

/*----- HAMBURGER NAV MENU STYLES-----*/
.header {
    background-color: var(--accent);
    width:100%;
    margin:0 auto;
    top: 0;
}

.header-content {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}


.nav {
    transition: all 0.1s ease-in-out;
}

.nav-list {
    display: flex;
    column-gap: 40px;
    color: var(--accent);
}

.nav-item {
    font-size: 20px;
    text-transform: uppercase;
}

.nav-link {
    color: #1c1c1c;
}
.nav-link:hover, .nav-link:focus {
    color:var(--main-yellow);
    padding-bottom: 5px;
    font-weight: bold;
}

.hamburger {
     display: none;
     cursor:pointer;
}


.bar {
    height: 2px;
    width: 40px;
    justify-content: space-between;
    background: var(--dark-gray);
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.nav--open {
    transform: translate(0) !important;
}


.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
    background: var(--accent);
}


.hamburger--open .bar:nth-child(2){
    opacity: 0;
}


.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
    background: var(--accent);
}




/* ----- SKIP LINK STYLES -----*/
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}



/*-----  HIDDEN STYLES -----*/
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


.main-info {
    visibility: hidden;
}
/*----- TEXT AND FONT STYLES -----*/

h2 {
    color: var(--main-yellow);
    text-align: center;
}




/*----- HEADER AND NAVIGATION STYLES -----*/
.logo img {
    width: 70px;
    height:70px;
    margin: 15px 0px 10px;
}


/*----- MAIN STYLES -----*/

#main-info {
    top: 100px;
    width: 350px;
    position: relative;
}

#main-text {
    background-color: rgb(19, 22, 26, 70%);
    padding: 5px 10px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

#main-text p {
    margin-left: 9px;
    color: var(--accent);
}

#main-text h2 {
    color: var(--main-yellow);
}
button {
    margin-left:30px;
    background-color:var(--main-yellow);
    padding: 5px;
    font-weight:bold;
    border-radius: 10px;
}

button:hover {
    background-color: var(--dark-gray);
    color: var(--main-yellow);
}
    

/*----- FOOTER STYLES -----*/

footer {
    margin-top:400px;
    text-align: center;
}

/*----- ABOUT-US.HTML-----*/



.slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

figure {
    position: relative;
    left: 0;
    width: 400%;
    animation: 10s slide infinite;
}

.slide {
    position: relative;
    width: 100%;
    float: left;
}


.slide h1 {
    position: absolute;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: var(--accent);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.slide img {
    width: 100%;
    height: auto;
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    50%{
        left: -200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-200%;
    }
    90%{
        left:0;
    }
    100%{
        left:0;
    }
}  


/* CONTACT-US.HTML----*/
#contact-grid {
    text-align: center;
    row-gap: 30px;
}

label {
    align-items: left;
}

fieldset {
    min-width: 500px;
}

textarea {
    width: 300px;
    height: 100px;
}
#contact-form {
    min-width: 500px;
    align-items: center;
    
}

.submit {
    background-color: var(--main-yellow);
    padding: 5px;
    border-radius: 10px;
    border-color: var(--main-yellow);
    margin-top: 10px;
}

h3 {
    color: var(--main-yellow);
}



/*----- MEDIA QUERY FOR NAV HAMBURGER MENU-----*/

@media screen and (max-width:650px) {   
    .nav {
        top: 0;
        left: 0;
        width:100%;
        position:fixed;
        background-color:  rgb(19, 22, 26);
        padding: 250px 0 500px;
        transform: translateX(110%);
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav-link {
        font-size: 30px;
        color: var(--accent);
    }

    .hamburger {
        display: block;
    }


} 



/* CONTACT-US.HTML----*/
#contact-grid {
    display: grid;
    
}

#contact-form {
    display: grid;
  
}


