

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}


.about-page, .our-team-page, .contact-page {
    background-image: url(images/background.jpeg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about-page::after, .our-team-page::after, .contact-page::after, .home-page::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-gray);
    opacity: 17%;
    z-index: -1;
    
}

.about-page main, .our-team-page main, .contact-page main{
    width: 365px;
    margin: 0 auto;
    
}


.home-page {
    margin: 0;
    padding: 0;
    background-image: url(images/northwest_st.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}



:root {
    --main-yellow:#c6990c;
    --accent: #ffffff;
    --dark-gray: #1c1c1c;
    --light-gray: #e7e7e7;

}

/*----- HAMBURGER NAV MENU STYLES-----*/
.header {
    background-color: var(--accent);
    width:100%;
    margin:0 auto;
    top: 0;
    position: fixed;
}

.header-content {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}


.nav {
    transition: all 0.1s ease-in-out;
}

.nav-list {
    display: flex;
    column-gap: 40px;
    color: var(--accent);
}

.nav-item {
    font-size: 20px;
    text-transform: uppercase;
}

li a {
    color: #1c1c1c;
}
li a:hover, li a:focus {
    color:var(--main-yellow);
    padding-bottom: 5px;
    font-weight: bold;
}

.hamburger {
     display: none;
     cursor:pointer;
}


.bar {
    height: 2px;
    width: 40px;
    justify-content: space-between;
    background: var(--dark-gray);
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.nav--open {
    transform: translate(0) !important;
}


.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
    background: var(--accent);
}


.hamburger--open .bar:nth-child(2){
    opacity: 0;
}


.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
    background: var(--accent);
}




/* ----- SKIP LINK STYLES -----*/
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}



/*-----  HIDDEN STYLES -----*/
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


.main-info {
    visibility: hidden;
}
/*----- TEXT AND FONT STYLES -----*/

.home-page h2 {
    color: var(--dark-gray);
    text-align: center;
}



/*----- HEADER AND NAVIGATION STYLES -----*/
.logo img {
    width: 70px;
    height:70px;
    margin: 15px 0px 10px;
}


/*----- MAIN STYLES -----*/

#index-main {
    margin-top: 400px;
    margin-left: -20px;
    width: 400px;
    
}

#main-text {
    background-color: rgb(19, 22, 26, 70%);
    padding-right: 10px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 20px;
}

#main-text p {
    margin-left: 9px;
    color: var(--accent);
    text-align: center;
}

#main-text h2 {
    color: var(--main-yellow);
}
button {
    margin-left: 55px;
    background-color:var(--main-yellow);
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    font-weight:bold;
    font-size: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: var(--dark-gray);
    color: var(--main-yellow);
}
    

/*----- FOOTER STYLES -----*/

footer {
    margin-top: 40px;
    text-align: center;
}

#footer-main {
    visibility: hidden;
}

/*----- ABOUT-US.HTML-----*/







/*----OUR-TEAM.HTML STYLES-----*/   
#team {
    margin-top: 40px;
}

#team-main {
    text-align: center;
    margin-top: 150px;
}

#team-main h2 {
    margin-top: 40px;
    font-size: 30px;
    background-color: var(--light-gray);
    border-radius: 10% 10%;
    padding: 20px;
}

.team-card {
    margin-bottom: 25px;
    background-color: var(--main-yellow);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 3px 2px 10px;
    
}

.team-name {
    color:var(--dark-gray);
    padding-bottom: 10px;
    padding-top: 0px;
    text-transform: uppercase;
    font-size: 22px;

}

.team-position {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 20px;
    color: var(--light-gray);
    
}

.team-description {
    font-size: 18px;
    margin-top: 10px;
}

.team-images {
    width: 200px;
    height: 200px;
    margin-left: 60px;

}


/* CONTACT-US.HTML----*/

#contact-grid {
    text-align: center;
    row-gap: 30px;
}

#contact-main h2 {
    text-align: center;
    margin-top: 150px;
    font-size: 30px;
    background-color: var(--light-gray);
    border-radius: 10% 10%;
    padding: 20px;
}

label {
    text-align: center;
    font-size: 15px;
}

input {
    width: 300px;
}
fieldset {
    min-width: 500px;
}

textarea {
    width: 300px;
    height: 100px;
}
#contact-form {
    align-items: center;
    margin-bottom: 30px;
}

#contact-form h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

#contact-moreinfo {
    margin-bottom: 15px;
}

.submit {
    background-color: var(--main-yellow);
    padding: 5px;
    border-radius: 10px;
    border-color: var(--main-yellow);
    margin-top: 10px;
}

.submit:hover {
    background-color: var(--dark-gray);
    color: var(--main-yellow);
    
}
h3 {
    color: var(--main-yellow);
}

/*----- MEDIA QUERY FOR NAV HAMBURGER MENU-----*/

@media screen and (max-width:850px) {   
    .nav {
        top: 0;
        left: 0;
        width:100%;
        position:fixed;
        background-color:  rgb(19, 22, 26);
        padding: 250px 0 500px;
        transform: translateX(110%);
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav-link {
        font-size: 30px;
        color: var(--accent);
    }

    .hamburger {
        display: block;
    }


} 

/*-----OTHER MEDIA QUERIES-----*/

@media screen and (min-width:850px) {
    /*-----INDEX STYLES-----*/
    #index-main {
        margin-top: 600px;
        position:absolute;
    }
    
    #main-text {
        font-size: 25px;
        width: 700px;
        text-align: left;
    }

    #main-text h2 {
        margin-left: -220px;
    }

    #main-text p {
        margin-left: -320px;
    }
    button {
        margin-left: 20px;
    }
    
    /*----ABOUT PAGE STYLES-----*/
    #about-main {
        width: 850px;
        text-align: center;
    }
     #about-main h2 {
        font-size: 30px;
        margin-top: 30px;
     }

    /*-----TEAM STYLES-----*/ 
    #team-main {
        padding: 0;
        width: 850px;
    }

    #team-main h2 {

        width: 850px;
        font-size: 30px;
    }
    #team {
        width: 850px;
    }

    .team-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        box-shadow: #1c1c1c;
    }
    

    .team-name {
        display: grid;
        font-size: 25px;
    }
    
    .team-images {
        display: grid;
        width: 300px;
        height: 300px;
        margin-left: 255px;

    }
    .team-postion {
        display: grid;
        font-size: 23px;

    }

    .team-description {
        display: grid;
        font-size: 21px;;

    }

    /*-----CONTACT-US-----*/

    #contact-main h2 {
        margin-top: 25px;
        font-size: 30px;
        text-align: center;
    }

    #contact-grid {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 50px;
        width: 850px;
        margin-top: 75px;
        margin-left: -200px;
    }

    #contact-form {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/4;
    }

    #contact-form h3 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    label {
        font-size: 20px;
        text-align: left;
        margin-bottom: 10px;
    }

    #contact-moreinfo {
        display:grid;
        grid-column: 2/6;
        grid-row: 1/2;
        margin-top: 20px;
    }

    #contact-address {
        display: grid;
        grid-column: 2/6;
        grid-row: 2/4;
        margin-top: 0px;
    }

    #contact-moreinfo h3, #contact-address h3 {
        font-size: 25px;
    }

    #contact-moreinfo p, #contact-address p {
        font-size: 20px;
    }
    
}


@media screen and (min-width:1800px) {
    /*-----TEAM PAGE STYLES-----*/

    #team-main {
        padding: 0;
        width:1500px;
        text-align: center;
    }

    #team-main h2 {
        width: 1500px;
        margin-bottom: 20px;
    }

    .team-card{
        padding: 20px;
        width: 1500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 

   
    .team-name {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 28px;
    }

    .team-images {
        width: 300px;
        height: 300px;
        display:grid;
        grid-column: 1/2;
        grid-row: 2/3;
        margin-left: 210px;
        row-gap: 10px;

    }

    #david p {
        margin-top: 60px;
    }

    #jack p {
        margin-top: 10px;
    }

    #john h3 {
        margin-top: 50px;
    }
    

    .team-position {
        display: grid;
        grid-column: 1/2;
        grid-row: 3/5;
        font-size: 25px;
    }
    
    .team-description {
        display: grid;
        grid-column: 2/4;
        grid-row: 1/6;
        text-align: left;
        font-size: 23px;

    }

}
